{% extends "/opt/Analytics_Interface/analytics/templates/html/basic.htm" %}

{% block header %}

<script type="text/javascript" src="/templates/script/courchart.js"></script>


{% endblock %}

{% block content %}
<p>The <font color="green">Green</font> Color shows total Number of Students Applied for <b>Arts</b> Course</p>
<p>The <font color="orange">Orange</font> Color shows total Number of Students Applied for <b>Commerce</b> Course</p>
<p>The <font color="red">Red</font> Color shows total Number of Students Applied for <b>Science</b> Course</p>

{% endblock %}